آشپز AH AA SH P A Z
آن‌سوتر AH AA N S U T A R
ائمه AH A AH E M M E
ارزانی AH A R Z AA N I
ازگل AH O Z G O L
استعلاجی AH E S T E AH L AA J I
استواری AH O S T O V AA R I
اصحاب AH A S A H AA B E
اصطلاحاً AH E S T E L AA H A N
افتاده‌اید AH O F T AA D E AH I D
اقدسیه AH A Q D A S I Y Y E
انقدر AH E N Q A D R
بائر B AA AH E R
بارسا B AA R S AA
باعجله B AA AH A J A L E
برآمد B A R AH AA M A D
برابر B A R AA B A R
برانگیزد B A R A N G I Z A D
برسند B E R A S A N D
برلیان B E R E L I Y AA N
برویم B E R U Y A M
بسترش B A S T A R A SH
بشقاب‌ها B O SH Q AA B H AA
بشماریم B E SH O M AA R I M
بغض B O Q Z
بلا B E L L AA
بودایی‌نشین B U D AA Y I N E SH I N
بپوشمش B E P U SH A M E SH
بیابند B I Y AA B A N D
بی‌نهایت B I N A H AA Y A T
تعرضی T A AH A R R O Z I
تمامیت‌خواهی T A M AA M I Y Y A T KH AA H I
توی T O Y
تکلی T A K L I
ثابتی S AA B E T I
حقوق H O Q U Q
خالی‌شده KH AA L I SH O D E
خانقین KH AA N E Q I N
درونه D A R U N E
دست‌وپاگیر D A S T O P AA G I R
دست‌یافته D A S T Y AA F T E
دغدغه‌ها D A Q D A Q E H AA
دلواپسم D E L V AA P A S A M
رون R U N
رویه‌ها R U Y E H AA
زانوهایش Z AA N U H AA Y A SH
زد Z E D
زرنگار Z A R N E G AA R
زمزمه‌ها Z E M Z E M E H AA
سخت‌گیری‌های S A KH T G I R I H AA Y E
سردسیر S A R D S I R
سرشان S E R R E SH AA N
سرنوشت‌سازترین S A R N E V E SH T S AA Z T A R I N
سفره S O F R E Y E
سقف‌های S A Q F H AA Y E
سود S U D
سپرده S E P A R D E
سیاه‌زخم S I Y AA H Z A KH M
شایگان SH AA Y E G AA N
شدت SH E D D A T
شوخ‌طبع SH U KH T A B AH
شکل‌وشمایل SH E K L O SH A M AA Y E L
شیمیایی SH I M I Y AA Y I
ضریب Z A R I B
ضیافتی Z I Y AA F A T I
طاهری T AA H E R I
طهارت T A H AA R A T
عادات AH AA D AA T
علیهش AH A L A Y H A SH
عکس‌برداری AH A K S B A R D AA R I
عیسوی AH I S A V I
غرش‌کنان Q O R R E SH K O N AA N
غزل‌های Q A Z A L H AA Y E
قابل‌قبول Q AA B E L E Q A B U L
قلعه‌های Q A L AH E H AA Y E
قهرمانانی Q A H R E M AA N AA N I
لاعلاج L AA AH A L AA J
لباس‌هایم L E B AA S H AA Y A M
لطف L O T F
ماجراست M AA J A R AA S T
ماشین‌نویسی M AA SH I N N E V I S I
مانکن M AA N K A N
محمودی M A H M U D I
مرارت M A R AA R A T
مستحکمت M O S T A H K A M A T
مصیبت‌بار M O S I B A T B AA R
منصف M O N S E F
منیت M O N Y A T
می‌ترسیده M I T A R S I D E
می‌درخشیدند M I D E R A KH SH I D A N D
نابسامانش N AA B E S AA M AA N E SH
نام‌های N AA M H AA Y E
ناپاک N AA P AA K
نخورد N A KH O R D
نفس‌های N A F S H AA Y E
نقش‌بند N A Q SH B A N D
نپروراند N A P A R V A R AA N A D
نی N I
هلم H O L A M
پخته‌تر P O KH T E T A R
